name: Publish

on:
  push:
    paths:
      - 'Dockerfile'
      - '.github/workflows/docker.yml'
      - 'docker-bake.hcl'
    tags:
      - "v*"
  pull_request:
    branches:
      - main


env:
  DOCKER_USERNAME: cyb3rjak3

jobs:

  Test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .github/tests/
    env:
      BUILDKIT_PROGRESS: plain
    steps:
        - name: checkout
          uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

        - name: Start Containers
          run: docker compose up --detach --build

        - name: Run tests
          run: dig @localhost -p 1053 google.com

        - name: Check metrics
          run: |
            curl -s http://localhost:9167/metrics | grep unbound
            curl -s http://localhost:9167/_healthz | grep -q "ok"

        - name: Stop containers
          if: always()
          run: docker compose down

  Publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:

      - name: Login to Docker
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login To GitHub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5.9.0
        with:
          images: cyb3rjak3/unbound-exporter,ghcr.io/cyb3r-jak3/unbound-exporter,mine.jfrog.cyberjake.xyz/cyb3rjak3/unbound-exporter
          labels: |
            org.label-schema.vcs-url=https://github.com/Cyb3r-Jak3/docker-unbound-exporter.git
            maintainer=Cyb3r Jak3 git@cyberjake.xyz
            org.opencontainers.image.vendor=cyb3rjak3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Build
        uses: docker/bake-action@3acf805d94d93a86cce4ca44798a76464a75b88c # v6.9.0
        with:
          source: .
          files: |
            ${{ steps.meta.outputs.bake-file }}
            ./docker-bake.hcl
          targets: release
          push: ${{ startsWith(github.ref, 'refs/tags/v') }}
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max

  Update-DockerHub:
    runs-on: ubuntu-latest
    name: Update DockerHub Descriptions
    needs: Publish
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@1b9a80c056b620d92cedb9d9b5a223409c68ddfa # v5.0.0
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: cyb3rjak3/unbound-exporter
